$body-color: slateblue;

body {
  font-family: sans-serif;
  margin-top: 100px;
}


ul {
  border: 1px solid rgba(0, 0, 0, .03);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
  max-width: 600px;
  margin: 0 auto;
  padding: 0;

  li {
    padding: 15px;
    list-style: none;

    .close {
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      background: #efefef;

      .close {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.close {
  width: 20px;
  height: 20px;
  position: relative;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  transition: all .2s linear;
}

.close:after {
  content: '';
  height: 20px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(45deg);
  left: 9px;
}

.close:before {
  content: '';
  height: 20px;
  border-left: 1px solid #000;
  position: absolute;
  transform: rotate(-45deg);
  left: 9px;
}

.toast {
  position: absolute;
  right: 50%;
  width: 300px;
  background: #000000b5;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  border: 1px solid #f5f3f3;
  margin-right: -150px;
  bottom: 30px;

}

input[type=text] {
  border: 0;
  outline: none;
  border-bottom: 1px solid black;
  width: 600px;
  padding: 10px;
  font-size: 14px;
  display: block;
  margin: 50px auto;
}
